<div class="container">
	<div class="row">
		<h1>フォローしている人のつぶやき</h1>
		<%= form_for @tweet do |f| %>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
			    <%= f.label :tweet %>
				<%= f.text_area :text, rows:'5', class: "form-control",placeholder: "あなたのつぶやきをここに" %>
		    </div>
		</div>
		<div class="row">
			<div class="col-sm-3"></div>
			<div>
			    <%= f.submit "つぶやく", class: "btn btn-lg btn-base-1 mt-20 pull-left" %>
			</div>
		</div>
	<% end %>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @tweets.each do |f| %>
				<tr>
					<td><%= link_to attachment_image_tag f.user , :icon_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
					<td><%= f.created_at.strftime('%Y/%m/%d/%H:%M')%></td>
					<td><%= link_to f.user.nickname, user_path(f) %></td>
					<td><%= f.text %></td>
					<td><%= link_to "リプライを送る", tweet_path(f)%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate @tweets %>
</div>

