<div class="container">
	<div class="row">
		<% if current_user != @tweet.user %>
		  <h2>
		  	<%= @tweet.user.nickname %>さんのつぶやき
		  </h2>
		  <h4><%= attachment_image_tag @tweet.user, :icon_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></h4>
		<% else %>
		  <h2>あなたのつぶやき</h2>
		<% end %>
		<%= @tweet.text%>
	</div>
    
    <div class="row">
    	<% if current_user =! @tweet.user %>
			<h3><%= @tweet.user.nickname%>さんへのリプライ</h3>
		<% else %>
			<h3>あなたへのリプライ</h3>
		<% end %>
		<% @tweet.replies.reverse_each do |reply| %>
			<li class="reply">
				<div class="reply-body bb">
					<div class="reply-text">
						<div class="reply-author clearfix">
							    <%= attachment_image_tag reply.user, :icon_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
								<%=link_to reply.user.nickname, user_path(reply.user) %>
							</a>
							<span class="reply-date">
								<%= reply.created_at.strftime('%Y/%m/%d') %>
							</span>
						</div>
						<div class="reply-entry">
							<%= reply.text %>
						</div>
						<% if reply.user == current_user %>
						  <div>
						  	<%= link_to "削除", tweet_reply_path(reply.tweet, reply), method: :delete, class: "btn btn-danger pull-right "%>
						  </div>
						<% end %>
					</div>
				</div>
			</li>
		<% end %>
	</div>


	<%= form_for [@tweet, @reply] do |f| %>
		  <div class="row">
		  	<div class="col-sm-12">
		  		<%= f.text_area :text, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
		  	</div>
		  </div>
		  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
	<% end %>
</div>
