<div class="container">
	<div class="row">
		<div class="col-3"></div>
		<h2 class="information">information</h2>
		<div class="information-box col-6 bg">
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<td>更新日</td>
							<td>お知らせ</td>
						</tr>
					</thead>
					<tbody>
						<% unless @informations.nil? %>
							<% @informations.each do |f| %>
							<tr>
								<td><%= f.created_at.strftime('%Y/%m/%d/%H:%M') %></td>
								<td>
								    <%= f.text %>
								</td>
							</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
				<%= paginate @informations %>
			</div>
		</div>
		<div class="col-3"></div>
	</div>

	<div class="row">
		<h3 class="recommend-text">こんな動画はいかがですか？</h3>
		<div class="contents">
			<% @movies.each do |f| %>
			<div class="content-box">
			    <%= link_to image_tag("https://img.youtube.com/vi/#{f.movie_url_id}/mqdefault.jpg"), movie_path(f) %>

				<div class="content-title">
				    <%= link_to f.title, movie_path(f) %>
				</div>
		    </div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5"></div>
		<div>
			<%= link_to 'もっと見る>', movies_path, class:"more-btn more" %>
		</div>
	</div>
</div>
