<!DOCTYPE html>
<html>
  <head>
    <title>Connectainment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <li>
        <%= search_form_for @search do |f|%>
          <%= f.search_field :title_cont, class: 'search', placeholder: '動画を検索' %>
          <%= f.submit "検索" %>
        <% end %>
      </li>
      <li><%= link_to 'top', root_path %></li>
      <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
      <li><%= link_to 'コンテンツ', movies_path %></li>
      <li><%= link_to 'ツイート'%></li>
      <li><%= link_to 'ログアウト' , destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to 'top', root_path %></li>
      <li><%= link_to 'about', about_path %></li>
      <li><%= link_to 'コンテンツ'%></li>
      <li><%= link_to '新規登録', new_user_registration_path %></li>
      <li><%= link_to 'ログイン', new_user_session_path%></li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
